.container {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
     
 }